body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
    background-image: url(pic1.jpg);
    background-repeat:initial;
    background-size:cover;
      }
  
  h1 {
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
  }
  
  label {
    margin-top: 10px;
  }
  
  input {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  